<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd
import numpy as np

In [20]:
data = pd.read_csv('adult.data.csv')

pd.set_option('precision', 2)
data.head(-1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [3]:
print(data.info())
data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

(32561, 15)

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [4]:
# Ваш код здесь
data['sex'].value_counts(dropna=False)
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [5]:
# Ваш код здесь
data.pivot_table(['age'], ['sex'], aggfunc='mean')

          age
sex
Female  36.86
Male    39.43

In [6]:
print('Female is 36.86')

Female is 36.86

**3. Какова доля граждан Германии (признак *native-country*)?**

In [7]:
# Ваш код здесь
d = data['native-country'].value_counts(normalize=True)
print('percent of citizens are Germans is: ', d['Germany']*100, "%")

percent of citizens are Germans is:  0.42074874850281013 %

In [8]:
print('percent of citizens are Germans: ', 137/32561*100, "%")

percent of citizens are Germans:  0.42074874850281013 %

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год?**

In [9]:
# Ваш код здесь

print('Mean value is:\n', data.pivot_table(['age'], ['salary'], aggfunc='mean'))

print('\nStd value is:\n', data.pivot_table(['age'], ['salary'], aggfunc='std'))

Mean value is:
           age
salary
<=50K   36.78
>50K    44.25

Std value is:
           age
salary
<=50K   14.02
>50K    10.52

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [10]:

tr = {'>50K': 'True', '<=50K': 'False'}
data['salary'] = data['salary'].map(tr)
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,False
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,False
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,False
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,False
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,False
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,False
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,False
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,True
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,True
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,True
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,True
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,True
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,False
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,False
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,True
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,False
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,False
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,False
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,False
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,True
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,True
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,False
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,False
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,False
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,False
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,True
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,False
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,True
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,False
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,False
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,True
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,True
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,False
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,False
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,True
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,False
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,True
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,True
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,False
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,False
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,False
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,False
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,False
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,True
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,False
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,False
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,False
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,False
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,False
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,False
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,False
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,False
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,True
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,False
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,False
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,True
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,False
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,False
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,True

In [11]:
data.describe()
age = data.pivot_table(['salary'], ['education'], aggfunc=(np.max))

age

             salary
education
10th           True
11th           True
12th           True
1st-4th        True
5th-6th        True
7th-8th        True
9th            True
Assoc-acdm     True
Assoc-voc      True
Bachelors      True
Doctorate      True
HS-grad        True
Masters        True
Preschool     False
Prof-school    True
Some-college   True

In [ ]:
No

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [44]:
#Amer-Indian-Eskimo
data.describe()
age = data.pivot_table(['age'], ['race', 'sex'], aggfunc='max')
age

                           age
race               sex
Amer-Indian-Eskimo Female   80
                   Male     82
Asian-Pac-Islander Female   75
                   Male     90
Black              Female   90
                   Male     90
Other              Female   74
                   Male     77
White              Female   90
                   Male     90

In [19]:
data.describe(include='all') #all statistics

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
count,32561,32561,3e+04,32561,32561,32561,32561,32561,32561,32561,32561,32561,32561,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,39,NaN,2e+05,NaN,10,NaN,NaN,NaN,NaN,NaN,1078,87,40,NaN,NaN
std,14,NaN,1e+05,NaN,3,NaN,NaN,NaN,NaN,NaN,7385,403,12,NaN,NaN
min,17,NaN,1e+04,NaN,1,NaN,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN
25%,28,NaN,1e+05,NaN,9,NaN,NaN,NaN,NaN,NaN,0,0,40,NaN,NaN
50%,37,NaN,2e+05,NaN,10,NaN,NaN,NaN,NaN,NaN,0,0,40,NaN,NaN
75%,48,NaN,2e+05,NaN,12,NaN,NaN,NaN,NaN,NaN,0,0,45,NaN,NaN
max,90,NaN,1e+06,NaN,16,NaN,NaN,NaN,NaN,NaN,99999,4356,99,NaN,NaN

In [46]:
data.groupby(by=['race',  'sex'])['age'].agg([np.max])

                           amax
race               sex
Amer-Indian-Eskimo Female    80
                   Male      82
Asian-Pac-Islander Female    75
                   Male      90
Black              Female    90
                   Male      90
Other              Female    74
                   Male      77
White              Female    90
                   Male      90

In [56]:
print("Max age Amer-Indian-Eskimos male is: 82")

Max age Amer-Indian-Eskimos male is: 82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [12]:
# Ваш код здесь
data['N'] = 1
marital = {'Married-civ-spouse': 1, 'Married-spouse-absent': 1, 'Married-AF-spouse': 1, 
           'Divorced': 0, 'Never-married': 0, 'Widowed': 0, 'Separated': 0}  # 1 - женатыe; 0 - холостые

data['marital-status'] = data['marital-status'].map(marital)
#data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,N
0,39,State-gov,77516,Bachelors,13,0,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,False,1
1,50,Self-emp-not-inc,83311,Bachelors,13,1,Exec-managerial,Husband,White,Male,0,0,13,United-States,False,1
2,38,Private,215646,HS-grad,9,0,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,False,1
3,53,Private,234721,11th,7,1,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,False,1
4,28,Private,338409,Bachelors,13,1,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,False,1
5,37,Private,284582,Masters,14,1,Exec-managerial,Wife,White,Female,0,0,40,United-States,False,1
6,49,Private,160187,9th,5,1,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,False,1
7,52,Self-emp-not-inc,209642,HS-grad,9,1,Exec-managerial,Husband,White,Male,0,0,45,United-States,True,1
8,31,Private,45781,Masters,14,0,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,True,1
9,42,Private,159449,Bachelors,13,1,Exec-managerial,Husband,White,Male,5178,0,40,United-States,True,1
10,37,Private,280464,Some-college,10,1,Exec-managerial,Husband,Black,Male,0,0,80,United-States,True,1
11,30,State-gov,141297,Bachelors,13,1,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,True,1
12,23,Private,122272,Bachelors,13,0,Adm-clerical,Own-child,White,Female,0,0,30,United-States,False,1
13,32,Private,205019,Assoc-acdm,12,0,Sales,Not-in-family,Black,Male,0,0,50,United-States,False,1
14,40,Private,121772,Assoc-voc,11,1,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,True,1
15,34,Private,245487,7th-8th,4,1,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,False,1
16,25,Self-emp-not-inc,176756,HS-grad,9,0,Farming-fishing,Own-child,White,Male,0,0,35,United-States,False,1
17,32,Private,186824,HS-grad,9,0,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,False,1
18,38,Private,28887,11th,7,1,Sales,Husband,White,Male,0,0,50,United-States,False,1
19,43,Self-emp-not-inc,292175,Masters,14,0,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,True,1
20,40,Private,193524,Doctorate,16,1,Prof-specialty,Husband,White,Male,0,0,60,United-States,True,1
21,54,Private,302146,HS-grad,9,0,Other-service,Unmarried,Black,Female,0,0,20,United-States,False,1
22,35,Federal-gov,76845,9th,5,1,Farming-fishing,Husband,Black,Male,0,0,40,United-States,False,1
23,43,Private,117037,11th,7,1,Transport-moving,Husband,White,Male,0,2042,40,United-States,False,1
24,59,Private,109015,HS-grad,9,0,Tech-support,Unmarried,White,Female,0,0,40,United-States,False,1
25,56,Local-gov,216851,Bachelors,13,1,Tech-support,Husband,White,Male,0,0,40,United-States,True,1
26,19,Private,168294,HS-grad,9,0,Craft-repair,Own-child,White,Male,0,0,40,United-States,False,1
27,54,?,180211,Some-college,10,1,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,True,1
28,39,Private,367260,HS-grad,9,0,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,False,1
29,49,Private,193366,HS-grad,9,1,Craft-repair,Husband,White,Male,0,0,40,United-States,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,0,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,False,1
32532,34,Private,204461,Doctorate,16,1,Prof-specialty,Husband,White,Male,0,0,60,United-States,True,1
32533,54,Private,337992,Bachelors,13,1,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,True,1
32534,37,Private,179137,Some-college,10,0,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,False,1
32535,22,Private,325033,12th,8,0,Protective-serv,Own-child,Black,Male,0,0,35,United-States,False,1
32536,34,Private,160216,Bachelors,13,0,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,True,1
32537,30,Private,345898,HS-grad,9,0,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,False,1
32538,38,Private,139180,Bachelors,13,0,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,True,1
32539,71,?,287372,Doctorate,16,1,?,Husband,White,Male,0,0,10,United-States,True,1
32540,45,State-gov,252208,HS-grad,9,0,Adm-clerical,Own-child,White,Female,0,0,40,United-States,False,1
32541,41,?,202822,HS-grad,9,0,?,Not-in-family,Black,Female,0,0,32,United-States,False,1
32542,72,?,129912,HS-grad,9,1,?,Husband,White,Male,0,0,25,United-States,False,1
32543,45,Local-gov,119199,Assoc-acdm,12,0,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,False,1
32544,31,Private,199655,Masters,14,0,Other-service,Not-in-family,Other,Female,0,0,30,United-States,False,1
32545,39,Local-gov,111499,Assoc-acdm,12,1,Adm-clerical,Wife,White,Female,0,0,20,United-States,True,1
32546,37,Private,198216,Assoc-acdm,12,0,Tech-support,Not-in-family,White,Female,0,0,40,United-States,False,1
32547,43,Private,260761,HS-grad,9,1,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,False,1
32548,65,Self-emp-not-inc,99359,Prof-school,15,0,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,False,1
32549,43,State-gov,255835,Some-college,10,0,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,False,1
32550,43,Self-emp-not-inc,27242,Some-college,10,1,Craft-repair,Husband,White,Male,0,0,50,United-States,False,1
32551,32,Private,34066,10th,6,1,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,False,1
32552,43,Private,84661,Assoc-voc,11,1,Sales,Husband,White,Male,0,0,45,United-States,False,1
32553,32,Private,116138,Masters,14,0,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,False,1
32554,53,Private,321865,Masters,14,1,Exec-managerial,Husband,White,Male,0,0,40,United-States,True,1
32555,22,Private,310152,Some-college,10,0,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,False,1
32556,27,Private,257302,Assoc-acdm,12,1,Tech-support,Wife,White,Female,0,0,38,United-States,False,1
32557,40,Private,154374,HS-grad,9,1,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,True,1
32558,58,Private,151910,HS-grad,9,0,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,False,1
32559,22,Private,201490,HS-grad,9,0,Adm-clerical,Own-child,White,Male,0,0,20,United-States,False,1
32560,52,Self-emp-inc,287927,HS-grad,9,1,Exec-managerial,Wife,White,Female,15024,0,40,United-States,True,1

In [13]:

d1 = data.drop(['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
                'occupation', 'relationship', 'race', 'sex', 
                'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'], axis=1)

a = d1[(d1['marital-status'] == 1) & (d1['salary'] == 'True')]['N'].sum() #женатыe
b = d1[(d1['marital-status'] == 0) & (d1['salary'] == 'True')]['N'].sum() #холостые

#print(' Среди кого больше доля зарабатывающих много: ', np.where(a>b, "женатыx", "холостыx"))
print("Among whom there is more than a lot of earners: ", np.where(a>b,"married", "single"))

Among whom there is more than a lot of earners:  married

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [59]:
# Ваш код здесь
a = (data['hours-per-week'].max()) #максимальное число часов человек работает в неделю
print("maximum number of hours a person works per week: ", a)

maximum number of hours a person works per week:  99

In [15]:
data[data['hours-per-week'] == 99]

d2 = data.drop(['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
               'marital-status', 'occupation', 'relationship', 'race', 'sex', 
              'capital-gain', 'capital-loss', 'native-country', ], axis=1)

d2.sort_values(by=['hours-per-week', 'salary'], ascending=[False, True]).head(100) #сортирую по убыванию максимальное число часов
#все, кто работает мах(99):
A = d2[(d2['hours-per-week'] == 99)]['N'].sum() 
# работает мах(99) и зарабатывает много:
B = d2[(d2['hours-per-week'] == 99) & (d2['salary'] == 'True')]['N'].sum()

In [17]:
print("percentage of those who earn a lot: ", round(B/A*100, 3), "%" )

percentage of those who earn a lot:  29.412 %

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [68]:
data.head(-1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,N
0,39,State-gov,77516,Bachelors,13,NaN,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,False,1
1,50,Self-emp-not-inc,83311,Bachelors,13,NaN,Exec-managerial,Husband,White,Male,0,0,13,United-States,False,1
2,38,Private,215646,HS-grad,9,NaN,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,False,1
3,53,Private,234721,11th,7,NaN,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,False,1
4,28,Private,338409,Bachelors,13,NaN,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,False,1
5,37,Private,284582,Masters,14,NaN,Exec-managerial,Wife,White,Female,0,0,40,United-States,False,1
6,49,Private,160187,9th,5,NaN,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,False,1
7,52,Self-emp-not-inc,209642,HS-grad,9,NaN,Exec-managerial,Husband,White,Male,0,0,45,United-States,True,1
8,31,Private,45781,Masters,14,NaN,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,True,1
9,42,Private,159449,Bachelors,13,NaN,Exec-managerial,Husband,White,Male,5178,0,40,United-States,True,1
10,37,Private,280464,Some-college,10,NaN,Exec-managerial,Husband,Black,Male,0,0,80,United-States,True,1
11,30,State-gov,141297,Bachelors,13,NaN,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,True,1
12,23,Private,122272,Bachelors,13,NaN,Adm-clerical,Own-child,White,Female,0,0,30,United-States,False,1
13,32,Private,205019,Assoc-acdm,12,NaN,Sales,Not-in-family,Black,Male,0,0,50,United-States,False,1
14,40,Private,121772,Assoc-voc,11,NaN,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,True,1
15,34,Private,245487,7th-8th,4,NaN,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,False,1
16,25,Self-emp-not-inc,176756,HS-grad,9,NaN,Farming-fishing,Own-child,White,Male,0,0,35,United-States,False,1
17,32,Private,186824,HS-grad,9,NaN,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,False,1
18,38,Private,28887,11th,7,NaN,Sales,Husband,White,Male,0,0,50,United-States,False,1
19,43,Self-emp-not-inc,292175,Masters,14,NaN,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,True,1
20,40,Private,193524,Doctorate,16,NaN,Prof-specialty,Husband,White,Male,0,0,60,United-States,True,1
21,54,Private,302146,HS-grad,9,NaN,Other-service,Unmarried,Black,Female,0,0,20,United-States,False,1
22,35,Federal-gov,76845,9th,5,NaN,Farming-fishing,Husband,Black,Male,0,0,40,United-States,False,1
23,43,Private,117037,11th,7,NaN,Transport-moving,Husband,White,Male,0,2042,40,United-States,False,1
24,59,Private,109015,HS-grad,9,NaN,Tech-support,Unmarried,White,Female,0,0,40,United-States,False,1
25,56,Local-gov,216851,Bachelors,13,NaN,Tech-support,Husband,White,Male,0,0,40,United-States,True,1
26,19,Private,168294,HS-grad,9,NaN,Craft-repair,Own-child,White,Male,0,0,40,United-States,False,1
27,54,?,180211,Some-college,10,NaN,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,True,1
28,39,Private,367260,HS-grad,9,NaN,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,False,1
29,49,Private,193366,HS-grad,9,NaN,Craft-repair,Husband,White,Male,0,0,40,United-States,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,NaN,?,Wife,White,Female,0,0,55,United-States,True,1
32531,30,?,33811,Bachelors,13,NaN,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,False,1
32532,34,Private,204461,Doctorate,16,NaN,Prof-specialty,Husband,White,Male,0,0,60,United-States,True,1
32533,54,Private,337992,Bachelors,13,NaN,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,True,1
32534,37,Private,179137,Some-college,10,NaN,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,False,1
32535,22,Private,325033,12th,8,NaN,Protective-serv,Own-child,Black,Male,0,0,35,United-States,False,1
32536,34,Private,160216,Bachelors,13,NaN,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,True,1
32537,30,Private,345898,HS-grad,9,NaN,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,False,1
32538,38,Private,139180,Bachelors,13,NaN,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,True,1
32539,71,?,287372,Doctorate,16,NaN,?,Husband,White,Male,0,0,10,United-States,True,1
32540,45,State-gov,252208,HS-grad,9,NaN,Adm-clerical,Own-child,White,Female,0,0,40,United-States,False,1
32541,41,?,202822,HS-grad,9,NaN,?,Not-in-family,Black,Female,0,0,32,United-States,False,1
32542,72,?,129912,HS-grad,9,NaN,?,Husband,White,Male,0,0,25,United-States,False,1
32543,45,Local-gov,119199,Assoc-acdm,12,NaN,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,False,1
32544,31,Private,199655,Masters,14,NaN,Other-service,Not-in-family,Other,Female,0,0,30,United-States,False,1
32545,39,Local-gov,111499,Assoc-acdm,12,NaN,Adm-clerical,Wife,White,Female,0,0,20,United-States,True,1
32546,37,Private,198216,Assoc-acdm,12,NaN,Tech-support,Not-in-family,White,Female,0,0,40,United-States,False,1
32547,43,Private,260761,HS-grad,9,NaN,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,False,1
32548,65,Self-emp-not-inc,99359,Prof-school,15,NaN,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,False,1
32549,43,State-gov,255835,Some-college,10,NaN,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,False,1
32550,43,Self-emp-not-inc,27242,Some-college,10,NaN,Craft-repair,Husband,White,Male,0,0,50,United-States,False,1
32551,32,Private,34066,10th,6,NaN,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,False,1
32552,43,Private,84661,Assoc-voc,11,NaN,Sales,Husband,White,Male,0,0,45,United-States,False,1
32553,32,Private,116138,Masters,14,NaN,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,False,1
32554,53,Private,321865,Masters,14,NaN,Exec-managerial,Husband,White,Male,0,0,40,United-States,True,1
32555,22,Private,310152,Some-college,10,NaN,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,False,1
32556,27,Private,257302,Assoc-acdm,12,NaN,Tech-support,Wife,White,Female,0,0,38,United-States,False,1
32557,40,Private,154374,HS-grad,9,NaN,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,True,1
32558,58,Private,151910,HS-grad,9,NaN,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,False,1
32559,22,Private,201490,HS-grad,9,NaN,Adm-clerical,Own-child,White,Male,0,0,20,United-States,False,1

In [69]:
# Ваш код здесь

new = data.pivot_table(['hours-per-week'], ['salary', 'native-country'], aggfunc='mean')
new

                                   hours-per-week
salary native-country
False  ?                                    40.16
       Cambodia                             41.42
       Canada                               37.91
       China                                37.38
       Columbia                             38.68
       Cuba                                 37.99
       Dominican-Republic                   42.34
       Ecuador                              38.04
       El-Salvador                          36.03
       England                              40.48
       France                               41.06
       Germany                              39.14
       Greece                               41.81
       Guatemala                            39.36
       Haiti                                36.33
       Holand-Netherlands                   40.00
       Honduras                             34.33
       Hong                                 39.14
       Hungary                              31.30
       India                                38.23
       Iran                                 41.44
       Ireland                              40.95
       Italy                                39.62
       Jamaica                              38.24
       Japan                                41.00
       Laos                                 40.38
       Mexico                               40.00
       Nicaragua                            36.09
       Outlying-US(Guam-USVI-etc)           41.86
       Peru                                 35.07
...                                           ...
True   France                               50.75
       Germany                              44.98
       Greece                               50.62
       Guatemala                            36.67
       Haiti                                42.75
       Honduras                             60.00
       Hong                                 45.00
       Hungary                              50.00
       India                                46.48
       Iran                                 47.50
       Ireland                              48.00
       Italy                                45.40
       Jamaica                              41.10
       Japan                                47.96
       Laos                                 40.00
       Mexico                               46.58
       Nicaragua                            37.50
       Peru                                 40.00
       Philippines                          43.03
       Poland                               39.00
       Portugal                             41.50
       Puerto-Rico                          39.42
       Scotland                             46.67
       South                                51.44
       Taiwan                               46.80
       Thailand                             58.33
       Trinadad&Tobago                      40.00
       United-States                        45.51
       Vietnam                              39.20
       Yugoslavia                           49.50

[82 rows x 1 columns]

In [55]:
get_ipython().system('jupyter nbconvert --to script topic1_habr_pandas.ipynb')

[NbConvertApp] Converting notebook topic1_habr_pandas.ipynb to script
[NbConvertApp] Writing 14988 bytes to topic1_habr_pandas.py