# <center>Homework № 3 . <br> Visual analysis of data </center>

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("Players.csv" , index_col='Unnamed: 0')
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3922 entries, 0 to 3921
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       3921 non-null   object
 1   height       3921 non-null   float64
 2   weight       3921 non-null   float64
 3   collage      3573 non-null   object
 4   born         3921 non-null   float64
 5   birth_city   3452 non-null   object
 6   birth_state  3439 non-null   object
dtypes: float64(3), object(4)
memory usage: 245.1+ KB

(3922, 7)

In [3]:
#fill nan
df.fillna(0, inplace = True)

In [4]:
df.head(10)

,Player,height,weight,collage,born,birth_city,birth_state
0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,0,0
1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,0,0
3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,0,0
4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
5,Gene Berce,180.0,79.0,Marquette University,1926.0,0,0
6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho
7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania
8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey
9,Vince Boryla,196.0,95.0,University of Denver,1927.0,East Chicago,Indiana

In [5]:
d = df.drop(['Unnamed: 0', 'Player', 'collage', 'birth_city','birth_state'], axis=1)
d.head()

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
d.describe(include='all') #all statistics

In [ ]:
#гистаграма
d['weight'].hist();
# діапазон даних складає 60-152,

In [ ]:
# боксплот
sns.boxplot(d['height']);
#sns.swarmplot(d['height']);
# діапазон даних складає 168-229, все інше: від 160 до 167 і від 229 до 231 - викиди, основні дані складають 190-207

In [ ]:
d['height'].value_counts().plot(kind='bar')
plt.legend()
plt.title('Розподіл росту');
#Графік показує розподіл росту height баскетболістів до кількості чоловік в кого він зустрічається у порядку спаддання: самий розповсюджений зріст - 201, самий унікальний - 160.

In [ ]:
sns.heatmap(d.corr());
#кореляція кількісних ознак по розфарбованої матриці кореляцій показує залежність між weight та height

In [ ]:
#гистаграмьы
d.hist(figsize=(10,10));

 Розподіл кількісних ознак
born: діапазон даних складає з 1913 до 1997, основні дані складають 1938-1980
weight: діапазон даних складає від 81 до 112, основні дані складають 71-122 (трохи зміщена вліво) (тут більше підходить пуассоновским розподіл) 
height: діапазон даних складає від 186 до 209, основні дані складають 182-217

In [ ]:
sns.pairplot(d, hue='weight');

In [ ]:
fig, axes = plt.subplots(nrows=3, ncols=4, figsize=(16, 10))

for idx, feat in  enumerate(d):
    sns.boxplot(data=d, ax=axes[int(idx / 4), idx % 4])
    axes[int(idx / 4), idx % 4].legend()
    axes[int(idx / 4), idx % 4].set_xlabel()
    axes[int(idx / 4), idx % 4].set_ylabel(feat);