In [1]:
import numpy as np
import pandas as pd
import os
import glob
import pickle

import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn import neighbors, datasets
from sklearn.tree import DecisionTreeClassifier

df2 = pd.DataFrame()
csv_file_path1 = glob.glob(os.path.join( "HW_13_wine_dataset", "*.csv"))
for file in csv_file_path1:
   
    df2 = df2.append(pd.read_csv(file, sep=';').assign(type=(file.split('-')[-1].split('.')[0])))

#df2["type"]= np.where(df2["type"] == 'red', 0, 1)
#'red' = 0, white = 1
df2 = df2.sample(frac=1) #перемішали

df2

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
281,7.7,0.27,0.68,3.5,0.358,5.0,10.0,0.99720,3.25,1.08,9.9,7,red
606,7.3,0.25,0.29,7.5,0.049,38.0,158.0,0.99650,3.43,0.38,9.6,5,white
339,6.6,0.18,0.35,1.5,0.049,49.0,141.0,0.99340,3.43,0.85,10.2,7,white
1833,7.4,0.49,0.24,15.1,0.030,34.0,153.0,0.99530,3.13,0.51,12.0,7,white
2643,8.1,0.33,0.22,5.2,0.047,24.0,151.0,0.99527,3.22,0.47,10.3,5,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3030,7.1,0.47,0.29,14.8,0.024,22.0,142.0,0.99518,3.12,0.48,12.0,8,white
4765,5.2,0.30,0.34,1.5,0.038,18.0,96.0,0.98942,3.56,0.48,13.0,8,white
1158,5.7,0.26,0.27,4.1,0.201,73.5,189.5,0.99420,3.27,0.38,9.4,6,white
2569,6.6,0.24,0.24,8.6,0.034,25.0,135.0,0.99582,3.33,0.59,10.3,6,white
4396,7.4,0.27,0.26,11.8,0.053,55.0,173.0,0.99699,3.11,0.60,9.8,5,white

In [2]:
df2['type'] = df2['type'].map({'red': 1, 'white': 0})

In [3]:
df2

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
281,7.7,0.27,0.68,3.5,0.358,5.0,10.0,0.99720,3.25,1.08,9.9,7,1
606,7.3,0.25,0.29,7.5,0.049,38.0,158.0,0.99650,3.43,0.38,9.6,5,0
339,6.6,0.18,0.35,1.5,0.049,49.0,141.0,0.99340,3.43,0.85,10.2,7,0
1833,7.4,0.49,0.24,15.1,0.030,34.0,153.0,0.99530,3.13,0.51,12.0,7,0
2643,8.1,0.33,0.22,5.2,0.047,24.0,151.0,0.99527,3.22,0.47,10.3,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3030,7.1,0.47,0.29,14.8,0.024,22.0,142.0,0.99518,3.12,0.48,12.0,8,0
4765,5.2,0.30,0.34,1.5,0.038,18.0,96.0,0.98942,3.56,0.48,13.0,8,0
1158,5.7,0.26,0.27,4.1,0.201,73.5,189.5,0.99420,3.27,0.38,9.4,6,0
2569,6.6,0.24,0.24,8.6,0.034,25.0,135.0,0.99582,3.33,0.59,10.3,6,0
4396,7.4,0.27,0.26,11.8,0.053,55.0,173.0,0.99699,3.11,0.60,9.8,5,0

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 281 to 4396
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  type                  6497 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 710.6 KB

In [5]:
y = df2['type'].astype('int')

In [6]:
X = df2.drop('type', axis=1)

In [7]:
X.shape, y.shape

((6497, 12), (6497,))

In [ ]:
train_test_split

In [8]:
from sklearn.model_selection import train_test_split, cross_val_score
import numpy as np

In [9]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, 
                                                      test_size=0.3, 
                                                      random_state=17)

In [10]:
X_train.shape, X_valid.shape

((4547, 12), (1950, 12))

In [11]:
first_tree = DecisionTreeClassifier(random_state=17)
#DecisionTreeClassifier - Класифікатор дерева рішень

In [12]:
np.mean(cross_val_score(first_tree, X_train, y_train, cv=5))

0.9830645921735031

In [13]:
cross_val_score(first_tree, X_train, y_train, cv=5)

array([0.98791209, 0.98351648, 0.98349835, 0.97689769, 0.98349835])

In [14]:
from sklearn.neighbors import KNeighborsClassifier

In [15]:
from sklearn.metrics import classification_report, accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

first_tree.fit(X_train, y_train)
first_tree_y_pred = first_tree.predict(X_valid)

#print(classification_report(y_test, clf.predict(X_test)))
print("accuracy: ", accuracy_score(y_valid, first_tree_y_pred))
print("MAE: ", mean_absolute_error(y_valid, first_tree_y_pred))
print("MSE: ", mean_squared_error(y_valid, first_tree_y_pred))

accuracy:  0.9815384615384616
MAE:  0.018461538461538463
MSE:  0.018461538461538463

In [16]:
first_tree

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=17, splitter='best')

# kNN

In [19]:
knn=KNeighborsClassifier(5)
# fit with train data set (надавати train data set)
knn.fit(X_train, y_train)
print("prediction precision rate:",knn.score(X_valid,y_valid))

prediction precision rate: 0.9425641025641026

In [20]:
#print(classification_report(y_test, clf.predict(X_test)))
knn.fit(X_train, y_train)
knn_y_pred = knn.predict(X_valid)

print("accuracy: ", accuracy_score(y_valid, knn_y_pred))
print("MAE: ", mean_absolute_error(y_valid, knn_y_pred))
print("MSE: ", mean_squared_error(y_valid, knn_y_pred))

accuracy:  0.9425641025641026
MAE:  0.057435897435897436
MSE:  0.057435897435897436